@mixin container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @include lg {
    max-width: 966px;
  }

  @media screen and (max-width: 1000px) {
    max-width: calc(100vw - 60px);
  }

  @include sm {
    max-width: calc(100vw - 20px);
  }
}

@mixin yellow_button {
  background-color: #ffc91e;
  border-radius: 3px;
  color: #282d33;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 40px;
  border: 1px solid #ffc91e;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    transform: scale(1.05);
  }

  @include sm {
    padding: 14px 20px;
  }
}

@mixin heading {
  text-transform: uppercase;
  margin-bottom: 38px;
  font-size: 32px;
  padding-left: 10px;
  border-left: 5px solid #ffc91e;

  @include md {
    font-size: 20px;
  }
}

@mixin page_wrapper {
  @include flex_between;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

@mixin flex_between {
  display: flex;
  justify-content: space-between;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Large tablets + small desktop screens */
@mixin lg {
  @media (max-width: 1366px) {
    @content;
  }
}

/* tablets */
@mixin md {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

/* phones */
@mixin sm {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: 415px) {
    @content;
  }
}

@mixin xss {
  @media screen and (max-width: 335px) {
    @content;
  }
}